

<div class="card" style="width: 18rem; margin: 0.3rem;">
  <img src="https://th.bing.com/th/id/OIP.gFGmEGVFFz9kxKY36P8p1AAAAA?pid=ImgDet&rs=1" class="card-img-top" alt="..." style="height: 25rem;">
  <div class="card-body">
    <h5 class="card-title">{{name}} </h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> $ {{price}}</li>
  </ul>

  <div class="d-flex flex-row">
    <a class="btn btn-primary flex-fill me-1" data-mdb-ripple-color="dark" routerLink="/detail/{{id}}">
      Learn more
    </a>
    <a class="btn btn-danger flex-fill ms-1"  >Buy now</a>
  </div>
</div>


