<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Ecommerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          <li class="nav-item">
            <a class="nav-link active" style="margin-top: 1rem; font-size: large;"  [routerLink]="'/products'">Product List</a>
          </li>

          <li class="nav-item">
            <p class="nav-link"  style="margin-top: 1rem; font-size: large;"  [routerLink]="'/cart'">Cart</p>
          </li>
        </ul>
        <span class="navbar-text">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"  style="font-size: large;" >
                <a class="nav-link" [routerLink]="'logIn'" *ngIf="!isLoggedIn()"> Connexion </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'logIn'" *ngIf="isLoggedIn()" (click)="onLogout()"> Déconnexion </a>
            </li>
        </ul>
        </span>
      </div>
    </div>
  </nav>
