<section class="vh-100 login">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <form [formGroup]="login">
                        <div class="card-body p-5 text-center">
                            <h3 class="mb-5">Connexion</h3>
                            <p class="text-black-50 mb-5">Veuillez entrer votre identifiant et votre mot de passe!</p>
                            <div class="form-outline mb-4">
                                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" formControlName="username" placeholder="Email"/>
                            </div>
                            <br>
                            <div class="form-outline mb-4">
                                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" formControlName="password" placeholder="Mot de passe"/>  
                            </div>
                            <br>
                            <button class="btn btn-primary  btn-block"  type="submit" (click)="onSubmitForm()" >Connexion</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>